$kd-border-radius: 1rem;
$kd-bg-opacity: 1;
$kd-ring-offset-shadow: 0 0 #000;
$kd-ring-shadow: 0 0 #0000;
$kd-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

$kd-btn-sizes: 1 1rem, 2 2rem, 3 3rem;
$kd-border: 1px solid #eee;

/**
Here we generate margin & paddings
**/
$spaceamounts: (2, 5, 8, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100);
$sides: (all, x, y, top, bottom, left, right);

@mixin make-space($prefix, $property) {
  $property-prefix: #{str-slice($property, 0, 1)};

  @each $space in $spaceamounts {
    @each $side in $sides {
      @if $side == "all" {
        .#{$prefix}-#{$property-prefix}-#{$space} {
          #{$property}: #{$space}px !important;
        }
      } @else if $side == "x" or $side == "y" {
        .#{$prefix}-#{$property-prefix}#{$side}-#{$space} {
          @if $side == "x" {
            #{$property}-left: #{$space}px !important;
            #{$property}-right: #{$space}px !important;
          } @else {
            #{$property}-top: #{$space}px !important;
            #{$property}-bottom: #{$space}px !important;
          }
        }
      } @else {
        .#{$prefix}-#{$property-prefix}#{str-slice($side, 0, 1)}-#{$space} {
          #{$property}-#{$side}: #{$space}px !important;
        }
      }
    }
  }
}

@include make-space(kd, margin);
@include make-space(kd, padding);

@media (min-width: 1px) {
  @include make-space(kd-xs, margin);
  @include make-space(kd-xs, padding);
}

@media (min-width: 768px) {
  @include make-space(kd-md, margin);
  @include make-space(kd-md, padding);
}

/**
Here we generate colors & backgrounds
**/
$kd-navy: #37455a;
$kd-blue: #abbdd3;
$kd-cyan: #a3d9cb;
$kd-peach: #ff9d7a;
$kd-white: #fff;

$colors: (
  secondary: $kd-navy,
  primary: $kd-blue,
  cyan: $kd-cyan,
  peach: $kd-peach,
  white: $kd-white
);

@mixin gen-props($prefix, $property) {
  @each $color-name, $color in $colors {
    .kd-#{$prefix}-#{$color-name} {
      #{$property}: $color;
    }
  }
}

@include gen-props("text", "color");
@include gen-props("bg", "background");
@include gen-props("border-color", "border-color");

@for $i from 0 through 20 {
  .kd-border-raduis-#{$i} {
    border-radius: #{$i}px;
  }
  .kd-border-width-#{$i} {
    border-width: #{$i}px;
  }
}

.kd-shadow,
.kd-shadow-sm {
  box-shadow: $kd-ring-offset-shadow, $kd-ring-shadow, $kd-shadow;
}

.kd-border-solid {
  border-style: solid;
}
.kd-border-dotted {
  border-style: dotted;
}
.kd-border-dashed {
  border-style: dashed;
}

.kd-no-bg {
  background: none;
}

.kd-btn {
  @extend .kd-border-width-0;
  @extend .kd-bg-primary;
  @extend .kd-text-white;
  @extend .kd-px-20;
  @extend .kd-py-15;
}
